.MoviesListMain{
    text-align: center;
    border: 2px solid black;
    width: 72%;
    margin-left: 14%;
    padding-top: 30px;
}
.MoviesList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.buttonDiv{
    display: flex;
    width: 20%;
    margin-left: 38%;
}
.currentPage{
    border-radius: 50px;
    margin-left: 16%;
    margin-top: 15px;
    margin-bottom: 0;
}