
.MoviesListMain{
    text-align: center;
    border: 2px solid black;
    width: 72%;
    margin-left: 14%;
    padding-top: 30px;
}

.MoviesList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.buttonDiv{
    /*background: grey;*/
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: 38%;
}