.darkPage{
    background: black;
    padding-top: 10px;
}
.whitePage{
    background: #b1d9f3;
    padding-top: 10px;
}
.Genres{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 13%;
    margin-top: 20px;
    margin-bottom: -30px;
    height: 40px;
    position: relative;
}