/*.Genres{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    width: 80%;*/
/*    padding-left: 13%;*/
/*    height: 100px;*/
/*}*/

.darkPage{
    margin-top: 20px;
    background: black;
}
.whitePage{
    margin-top: 20px;
    background: snow;
}
